איזה סתום
לא רק שעשיתי את זה מופע אחרי מופע עד שזיקקתי את הפיתרון
(שזו הדרך הכי קשה והכי מייגעת)
אלא שגםיכולתי פשוט להתחיל מהסוף
const string = "The more you know, the more you know that you don't know";

let lastOccurrence = "you"
console.log(lastOccurrence)

let position = 0

let stringTemp = string
let stringTemp2 = ""
let stringTemp3 = ""

let oops = 0


stringTemp2 = stringTemp.slice(stringTemp.indexOf(lastOccurrence) + lastOccurrence.length, stringTemp.length)
stringTemp3 += stringTemp.slice(0, stringTemp.indexOf(lastOccurrence) + lastOccurrence.length)
oops = stringTemp2.length
console.log("stringTemp", stringTemp)
console.log("stringTemp2", stringTemp2)
console.log("stringTemp3", stringTemp3)
console.log("oops", oops)
stringTemp = stringTemp2

console.log("___", stringTemp2.includes(lastOccurrence))
console.log("===", stringTemp2.indexOf(lastOccurrence))

stringTemp2 = stringTemp.slice(stringTemp.indexOf(lastOccurrence) + lastOccurrence.length, stringTemp.length)
stringTemp3 += stringTemp.slice(0, stringTemp.indexOf(lastOccurrence) + lastOccurrence.length)
oops = stringTemp2.length
console.log("stringTemp", stringTemp)
console.log("stringTemp2", stringTemp2)
console.log("stringTemp3", stringTemp3)
console.log("oops", oops)
stringTemp = stringTemp2

console.log("___", stringTemp2.includes(lastOccurrence))
console.log("===", stringTemp2.indexOf(lastOccurrence))
stringTemp2 = stringTemp.slice(stringTemp.indexOf(lastOccurrence) + lastOccurrence.length, stringTemp.length)
stringTemp3 += stringTemp.slice(0, stringTemp.indexOf(lastOccurrence) + lastOccurrence.length)
oops = stringTemp2.length
console.log("stringTemp", stringTemp)
console.log("stringTemp2", stringTemp2)
console.log("stringTemp3", stringTemp3)
console.log("oops", oops)
stringTemp = stringTemp2
console.log(stringTemp3.length - lastOccurrence.length)

console.log("___", stringTemp2.includes(lastOccurrence))
console.log("===", stringTemp2.indexOf(lastOccurrence))
oops = stringTemp2.length
console.log("stringTemp", stringTemp)
console.log("stringTemp2", stringTemp2)
console.log("stringTemp3", stringTemp3)
console.log("oops", oops)
stringTemp = stringTemp2
console.log(stringTemp3.length - lastOccurrence.length)
===============================================================
===============================================================

לא, גם לאחור לא הצלחתיבניסיון להחקות אחרי הדוגמא הזו
מהדוקומנטציה

console.log(str.slice(-9, -5));
// expected output: "lazy"

====================================

// const string = "The more you know, the more you know that you don't know";
const string = "The more you know";

let lastOccurrence = "you"

console.log(string.slice(-string.indexOf(lastOccurrence), -string.indexOf(lastOccurrence).length))
console.log(string.indexOf(lastOccurrence))

let slicelyDone = string.slice(-(string.indexOf(lastOccurrence).length) , -(string.indexOf(lastOccurrence)))
console.log(slicelyDone)
// let position = slicelyDone.length
let position = string.length - slicelyDone.length

console.log(`the last occurrence of the word "${lastOccurrence}" is at index ${string.length-position}`)




11.01.23

         setNewEdition(someBook, editionYear) {
            // if(someBook && editionYear) { 
            //     return 'please enter the title of the book and the edition of the year'
            // } else {

                return editionYear >= someBook.yearPublished ?
                editionYear : someBook.yearPublished
            // }
        }
    }