
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #0d0152;

}
button, input{
  font-family: 'Poppins', sans-serif;
}
.container{
    box-shadow: inset 2px 2px 15px 2px #0d0152;
    padding: 2rem;
    background: linear-gradient(140deg, #ff05bc, #3c00ff);
}
.form
{
    margin: 2rem;
}

#gh-username {
    width: 100%;
    height: 2.25rem;
    border: 2px solid #0d0152;
    border-radius: 10px;
    padding: 0 .75rem;
    margin: 1rem auto;
    font-size: 1rem;
}
#gh-username:focus {
    outline: none;
    /* border: 4px solid rgba(77, 89, 164, 0.864); */
    box-shadow: 0px 0px 10px 1px #4bb7ff;

}

#btn {  
    margin-left: 2rem;
    padding: 0 1rem;
    width: max-content;
    height: 2.5rem;
    border-radius: 10px;
    font-size: 1rem;
    background-color: #00137e;
    color: #ffffff;
    cursor: pointer;
}

#btn:active {
    border: none;
    box-shadow: inset 0px 0px 20px 2px #0099ff,
    0px 0px 5px 2px #377fb0;
}

/* img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 2rem auto;
    display: block;
} */

#result{
    margin: 2rem;
}