
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* color: #0d0152; */

}
button, input{
  font-family: 'Poppins', sans-serif;
}

.container{
    box-shadow: inset 2px 2px 15px 2px #0d0152;
    padding: 5%;
    background: linear-gradient(140deg, #ff05bc, #3c00ff);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#rotten {
    width: 100%;
    height: 50%;
    border: 2px solid #0d0152;
    border-radius: 10px;
    padding: 0 .75rem;
    /* margin: 1rem auto; */
    font-size: 1rem;
}
#user-input {
    width: 100%;
    height: 2.25rem;
    border: 2px solid #0d0152;
    border-radius: 10px;
    padding: 0 .75rem;
    margin: 1rem auto;
    font-size: 1rem;
}
#user-input:focus {
    outline: none;
    /* border: 4px solid rgba(77, 89, 164, 0.864); */
    box-shadow: 0px 0px 10px 1px #4bb7ff;

}

#btn {  
    padding: 0 1rem;
    width: max-content;
    height: 2.5rem;
    border-radius: 10px;
    font-size: 1rem;
    background-color: #00137e;
    color: #ffffff;
    cursor: pointer;
}

#btn:active {
    border: none;
    box-shadow: inset 0px 0px 20px 2px #0099ff,
    0px 0px 5px 2px #377fb0;
}

img {
    border-radius: 55px;
    margin: 2rem auto;
    border:5px solid #000000;
}

img:hover {
    cursor: pointer;
    box-shadow: 0px 0px 20px 2px #000000;
}

img:active{
        border: 5px solid #ffffff;
         box-shadow: 0px 0px 50px 2px #ffffff;
}


#result{
    margin: 2rem;
}